<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forms</title>

    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/aos.css" rel="stylesheet">
</head>

<body>






    {{{body}}}


    



    <!-- Scripts -->

    <!-- Default Bootstrap CDN JS -->
    <script src="./js/bootstrap.bundle.js"></script>
    <!-- End Default Bootstrap CDN JS -->

    <!-- My Contact form JS script -->
    <script src="./js/contactForm.js"></script>
    <!-- End of My Contact form JS script -->

    <!-- My Hire form JS script -->
    <script src="./js/hireForm.js"></script>
    <!-- End of My Hire form JS script -->

    <!-- AOS Script and initiation -->
    <script src="./js/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- End of AOS Script and initiation -->

    <!-- End of Scripts -->

</body>

</html>